**/dist
**/dist-ssr
**/coverage
**/node_modules
**/out-tsc
*.local
.env
.env.local
.env.*.local
*.log
.moon
**/playwright-report
**/test-results
pnpm-lock.yaml
*.min.js
*.min.css
.angular
.claude
.cursor
.gemini
.github/copilot-instructions.md
.junie
.vscode
storybook-static

projects/shared-ui/src/lib/styles.scss
